:root{
	font-size: 8px;
	--zero-white: hsla(0, 100%, 100%, 1);
	--lightest-blue: hsla(240, 12%, 95%, 1);
	--transparent-white-mobile: hsla(0, 0%, 100%, 0.9);
	--hover-shadow: hsla(0, 0%, 0%, 0.2);

	--btn-xmark: hsla(240, 12%, 95%, 1);

	--card_1: hsla(49, 100%, 90%, 1);
	--card_2: hsla(211, 100%, 96%, 1);
	--card_3: hsla(0, 0%, 0%, 1);

	--fc-main: hsla(249, 77%, 14%, 1);

	--fc-black: hsla(0, 0%, 0%, 1);
	--fc-gray: hsla(49, 12%, 42%, 1);
	--fc-gray-1: hsla(249, 8%, 55%, 1);
	--fc-gray-dark: hsla(248, 13%, 35%, 1);
	--fc-zero-white: hsla(0, 100%, 100%, 1);
	--fc-card-3: hsla(0, 0%, 100%, 0.8);

	--bc-list-1-blue: hsla(211, 100%, 96%, 1);
	--fc-list-1-blue: hsla(203, 99%, 42%, 1);
	--fc-list-1-text-blue: hsla(220, 89%, 43%, 1);

	--bc-list-2-cyan: hsla(262, 100%, 96%, 1);
	--fc-list-2-cyan: hsla(262, 100%, 70%, 1);

	--bc-list-3-green: hsla(107, 64%, 91%, 1);
	--fc-list-3-green: hsla(107, 56%, 53%, 1);

	--bc-list-4-yellow: hsla(43, 100%, 94%, 1);
	--fc-list-4-yellow: hsla(43, 100%, 54%, 1);

	--btn-yellow: hsla(50, 100%, 65%, 1);
	--btn-hover-yellow: hsla(50, 100%, 50%, 1);
}

@font-face {
    font-family: 'SF-Pro-Light';
    src: local('SF-Pro-Light'), url('../assets/font/SFProDisplay-Light.woff') format('woff');
}

@font-face {
    font-family: 'SF-Pro-Regular';
    src: local('SF-Pro-Regular'), url('../assets/font/SFProDisplay-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SF-Pro-Bold';
    src: local('SF-Pro-Bold'), url('../assets/font/SFProDisplay-Bold.woff') format('woff');
}

#app{
	color: var(--fc-main)
}

.wrapper{
	width: 100%;
	background-color: var(--zero-white);
	
	.sectionWraper{
		max-width: 125rem;
		margin: 0 auto;
	}
}

.gray-wrapper{
	background-color: var(--lightest-blue);
}

.HeadNav {
			height: 100%;
			z-index: 999;
			position: relative;
			display: grid;
			align-content: center;

		nav{
			display: flex;
			align-items: center;
			position: relative;
	
			.logoWrapper{
				width: 5rem;
				height: 5rem;
				margin-right: auto;
				@media (max-width: 425px){
					width: 4rem;
					height: 4rem;
					margin-left: 2.5rem;
				}
			}
	
			.navbar {
				display: flex;
				font-family: 'SF-Pro-Bold';
				font-size: 2rem;
				align-items: center;
				gap: 1.75rem;
			
				.refTo{
					padding: 1.125rem 1.125rem;
					transition: transform 0.1s ease-out;
					display: inline-block;
					cursor: pointer;
					color: var(--fc-main);
			
					&:hover{
						 border-bottom: 0.25rem solid var(--fc-main);
						// transform: translateY(-0.625rem) scale(1.005);
						box-shadow: 0 4px 2px -2px gray;
					}
				}
			}
	}

	@media (max-width: 425px){

		.icon{
			font-size: 2.25rem;
			width: 4rem;
			height: 4rem;
			display: flex;
			align-items: center;
    		justify-content: center;
			border-radius: 1.5rem;
		}

		.icon_1{
			background-color: var(--zero-white);
			width: 4rem;
			height: 4rem;
			margin-right: 2.5rem;
		}
		.icon_2{
			position: absolute;
			top: 3.75rem;
			right: 2.5rem;
			background-color: var(--btn-xmark)
		}
	}
}

.navbarMobile{
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
    display: grid;
    gap: 4rem;
    background-color: var(--transparent-white-mobile);
    backdrop-filter: blur(30px);
    align-content: center;
    justify-items: center;

	.logoWrapper{
		position: absolute;
		top: 3.75rem;
		left: 0;
		margin-left: 2.5rem;
	}

	li{
		font-size: 3rem;
		line-height: 4rem;
		font-family: 'SF-Pro-Bold';
		text-align: center;
	}
}

.Intro{
	position: relative;

		.info_wrapper{
			position: absolute;
			display: grid;
			width: 50em;
			top: 50%;
			transform: translateY(-50%);


			.text{
				width: 42.5rem;
				color: var(--fc-gray-dark);
			}
		}
		.img_wrapper{
			position: absolute;
			width: 648px;
			height: 430px;
			right: -6rem;
			bottom: 50%;
			transform: translateY(50%);
		}
	
		@media (max-width: 425px){
			.info_wrapper{
				position: relative;
				display: grid;
				width: 90%;
				top: 0;
				transform: none;
				justify-items: center;
				margin: 0 auto;
			}

			.img_wrapper{
				position: relative;
				width: auto;
				height: auto;
				margin: 0 1rem;
				margin-top: 3rem;
				right: 0;
				bottom: 0;
				transform: none;
			}
		}
}

.AboutProject{

	.info_wrapper {
		display: flex;
		position: relative;
		width: 80.25rem;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
		justify-items: center;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@media (max-width: 425px){
			width: 85%;
		}
	}
}

.Cards{
	.header_wrapper{
		margin-bottom: 5rem;
	}
	.cards_wrapper {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		gap:0 4rem;

		@media (max-width: 425px){
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			gap: 3rem;
			flex-direction: column;
		}

		.card{
			width: 33.3333%;
			height: 55rem;
			border-radius: 2rem;
			@media (max-width: 425px){
				width: auto;
				margin: 0 3rem;
				height: 42rem;
			}
			&:hover{
				width: 42.875rem;
				cursor: pointer;
				@media (max-width: 425px){
					width: auto;
					margin: 0 3rem;
				}
			
			}

			.inner{
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				align-content: center;
				text-align: center;
				margin:0 35px;
				top: 10.5rem;

				@media (max-width: 425px){
					top: 50%;
					transform: translateY(-50%);
					
				}

				img{
					width: auto;
					height: 18.75rem;
				}
			}

		}

		.card_1{
			background-color: var(--card_1);
		}
		.card_2{
			background-color: var(--card_2);
		}
		.card_3{
			background-color: var(--card_3);
		}

		.card_3 .card_title_wrapper, .card_3 .card_text_wrapper{
			color: var(--zero-white);
		}

		.card .card_text_wrapper{
			display: none;
			width: 291px;
			@media (max-width: 425px){
				display: block;
				width: auto;
			}
		}

		.card:hover .card_text_wrapper{
			display: block;
		}

		.card_1 .card_text_wrapper{
			color: var(--fc-gray);
		}

		.card_2 .card_text_wrapper{
			color: var(--fc-gray);
		}

		.card_3 .card_text_wrapper{
			color: var(--fc-card-3);
		}
	}
}

.List{
	.list{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 6.5rem 3.625rem;
		@media (max-width: 425px){
			display: flex;
			flex-direction: column;
			gap: 4rem;
		}

		.info_wrapper{
			@media (max-width: 425px){
					position: relative;
					display: grid;
					width: 90%;
					top: 0;
					transform: none;
					justify-items: center;
					margin: 0 auto;
			}
		}
		
		.item{
			width: 50rem;
			height: auto;
			margin-right: 11rem;
			@media (max-width: 425px){
				width: 100%;
				display: flex;
				text-align: center;
				flex-direction: column;
				align-items: center;
				margin-right: auto;
				margin-left: auto;

				.list_title_wrapper, .list_text_wrapper{
					width: 80%;
				}
			}

			.icon{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 7.75rem;
				height: 7.75rem;
				border-radius: 2rem;
				margin-bottom: 3rem;

				.num{
					position: relative;
					font-size: 4.5rem;
					font-family: 'SF-Pro-Bold';
				}
			}

			.icon_1{
				background-color: var(--bc-list-1-blue);
				color: var(--fc-list-1-blue);
			}
			.icon_2{
				background-color: var(--bc-list-2-cyan);
				color: var(--fc-list-2-cyan);
			}
			.icon_3{
				background-color: var(--bc-list-3-green);
				color: var(--fc-list-3-green);
			}
			.icon_4{
				background-color: var(--bc-list-4-yellow);
				color: var(--fc-list-4-yellow);
			}
		}
	}
}

.Mission{
	position: relative;

		.info_wrapper{
			position: absolute;
			display: grid;
			right: 0;
			width: 55.625rem;
			margin-right: 5.375rem;
			top: 50%;
			transform: translateY(-50%);

			.text{
				width: 100%;
			}
		}
		.img_wrapper{
			position: relative;
			width: 553.37px;
			height: 455.5px;
			left: -16rem;
			top: 50%;
			transform: translateY(-55%);
		}

		@media (max-width: 425px){
			.info_wrapper{
				position: relative;
				display: grid;
				width: 90%;
				top: 0;
				transform: none;
				justify-items: center;
				margin: 0 auto;
			}

			.img_wrapper{
				position: relative;
				width: auto;
				height: auto;
				margin-top: 3rem;
				top: 3rem;
				left: auto;
				transform: none;
				margin-bottom: 3rem;

				img{
					max-width: 95%;
					margin-left: auto;
					margin-right: 0;
				}
			}
		}
}