.wrapper{
	width: 100%;
	background-color: var(--zero-white);
	
	.sectionWraper{
		max-width: 125rem;
		margin: 0 auto;

        @media (min-width: 425px) and (max-width: 768px){
            max-width: 53.125rem;  
	    }

        @media (min-width: 768px) and (max-width: 1024px){
            max-width: 93rem;  
	    }
    }
}
.gray-wrapper{
	background-color: var(--lightest-blue);
}

.HeadNav {
	height: 100px;
}

.Intro{
	height: 500px;

    @media (min-width: 768px) and (max-width: 1024px){
        height: 390px; 
    }
}

.AboutProject{
    height: 376px;
}

.Cards{
    height: 640px;
}

.List{
    height: 594px;
}

.Mission{
    height: 565px;
}

@media (max-width: 767px){
    .HeadNav {
        height: 92px;
    }
    
    .Intro{
        height: 575px;
    }
    
    .AboutProject{
        height: 356px;
    }
    
    .Cards{
        height: 1222px;
    }
    
    .List{
        height: 1080px;
    }
    
    .Mission{
        height: 860px;
    }
}